body {
    background: rgb(79, 134, 93);
color: white;
}
main {
    max-width: 800px;
    margin: auto;
}
article {
    width: auto;
}

img {
    width: 80%;

}
nav li {
    text-decoration: none;
    display: inline;
}
nav a, nav a:visited {
    color: pink;
    text-decoration: none;
    font-size: larger;
}
nav a:hover {
    color: yellowgreen;
}